html,
body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.leaflet-container {
  width: 50vw;
  height: 90vh;
  margin-bottom: 10px;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.header h1 {
  font-size: 1.4rem;
  margin: 0;
}

.selects > select {
  margin-left: 10px;
  margin-right: 10px;
}

.popup > h2 {
  font-size: 1.2rem;
  text-align: center;
}

.popup > h3 {
  font-size: 1rem;
  text-align: center;
}

.popup > h5 {
  font-size: 0.7rem;
  text-align: center;
}

.top-crimes > h4 {
  font-size: 0.8rem;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.popup-content {
  margin: 5px;
}

.top-crimes > p {
  margin-bottom: 7px;
  margin-top: 7px;
  font-size: 0.75rem;
}
