html,
body {
  height: 100%;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.leaflet-container {
  width: 90vw;
  height: 90vh;
  margin-bottom: 10px;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
}
